*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100%;
    background-color: rgb(96, 118, 240);
}

#titulo{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.container{
    width: 600px;
    height: auto;
    border-radius: 20px;
    background-color: white;
    margin: 0 auto;
    padding: 0 10px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container input[type=number]{
    width: 100px;
    float: right;  
}

.container p{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
}

.container textarea{
    width: 100px;
    margin-top: 30px;
    height: 30px;
    resize: none;
    font-size: 25px;
}


.container input[type=submit]{
    margin-top: 10px;
    height: 30px;

}



#resultado{
    width: 300px; 
    height: auto;
    border: 1px solid black;
}







.container input[type=submit]{
    width: 100px;
    height: 30px;
    display: block;
    margin: 15px 20px 0 20px;
    margin: 30px auto;
}






footer p{
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

